@keyframes background-scroll {
	0% {
	background-position: 640px 480px;
	}

	100% {
		background-position: 0px 0px;
	}
}

@keyframes prophecy {
	0% {
		margin-top: 0.02em;
		
	}

	50% {
		margin-top: -0.02em;
	}

	100% {
		margin-top: 0.02em;
	}
}

@keyframes prophecy-color {
	0% {
		filter: hue-rotate(7deg) brightness(1.6);
		
	}

	50% {
		filter: hue-rotate(10deg) brightness(1.6);
	}

	100% {
		filter: hue-rotate(7deg) brightness(1.6);
	}
}

@keyframes prophecy-shadows {
	0% {
		left: 0.05em;
		top: 0.05em;
	}

	50% {
		left: -0.15em;
		top: -0.05em;
	}

	100% {
		left: 0.05em;
		top: 0.05em;
	}
}

html {
	overflow: hidden;
}

body {
	background: #270010;
	text-align: center;
	font-size: 24px;
	position: absolute;
	inset: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	overflow: hidden;
	max-width: none;
}

.bg, .vignette {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.bg {
	background: url(/img/prophecy.png);
	animation: background-scroll 20s linear 0s infinite;
	filter:  contrast(0.5) brightness(0.3) saturate(2) ;
	z-index: -10;
}

.vignette {
	height: 50vh;
	width: 200vw;
	background: transparent;
	outline: 1000px solid black;
	border-radius: 1000px;
	filter: blur(70px);
	z-index: -9;
}

.pr-text {
	margin: -6.75em 0 6.5em;
	font-size: 1.6em;
	text-transform: lowercase;
	font-family: "Atkinson Hyperlegible Mono", monospace;
	animation: background-scroll 10s linear 0s infinite;
	background: url(/img/prophecy.png);
	filter: brightness(2);
	background-clip: text;
	color: transparent;
	width: 20em;
}

.pr404 {
	font-size: 8em;
	display: inline-block;
	color: transparent;
	position: relative;
	margin: auto;
	letter-spacing: -10px;
	animation: prophecy 3s ease-in-out 0s infinite;

	&::before {
		content: "404";
		margin: auto;
		background: url(/img/prophecy.png);
		background-clip: text;
		color: #0000;
		animation: 
			background-scroll 10s linear 0s infinite, 
			prophecy-color 3s ease-in-out 0s infinite;
		position: absolute;
		
	}
	&::after {
		content: "404";
		position: absolute;
		inset: -10px;
		
		z-index: -2;
		background: url(/img/prophecy.png);
		background-clip: text;
		animation: 
			prophecy-shadows 3s ease-in-out 0s infinite,
			background-scroll 10s linear 0s infinite;
		filter: brightness(1) opacity(0.5);
	}



}	

article {
	text-align: center;
	height: 8em;
	cursor: default;
	user-select: none;
}

a {
	color: #FF9999;
}

a:visited {
	color: #ff99cc;
}

a:focus, a:hover {
	color: #FF3333;
}

a:active {
	color: #ffbc40;
}

.music {
	position: absolute;
	bottom: 1em;
	display: flex;
	flex-direction: column-reverse;
	& p {
		font-size: 16px;
		margin: 0;
	}
 
	& audio {
		box-shadow: none;
		--media-background: transparent;
		width: min(90vw, 500px);
		opacity: 0.3;
		transition: 400ms;
		&:hover {
			opacity: 1;
			
		}
	}

}


@media (max-width: 900px) {
	body {
		font-size: 20px
	}
}


@media (max-width: 600px) {
	body {
		font-size: 16px;
	}

	.music {
		flex-direction: column;
		top: 1em;
		bottom: unset;
	}

}
