

body {
	background-color: #3c071b;
	color: white;
	font-family: "Atkinson Hyperlegible Next", sans-serif;
	margin: 1em auto;
	max-width: 60em;
	padding: 0 2em;
	color-scheme: dark;
}

a {
	color: #FF9999;
}

a:visited {
	color: #ff99cc;
}

a:focus, a:hover {
	color: #FF3333;
}

a:active {
	color: #ffbc40;
}


pre, code, textarea, time, data, u-id {
	text-transform: none;
	font-family: "Atkinson Hyperlegible Mono", monospace;
}

u-id[data-type="name"] {
	font-family: "Atkinson Hyperlegible Next", sans-serif;
}

pride-gradient[data-flag="pride"] {
	background: linear-gradient(90deg in oklch, #f35b57, #f7a451, #f3da55,  #8fd860, #7093ff, #be7dff);
}

pride-gradient[data-flag="transgender"], .trans {
	background: linear-gradient(90deg in oklch, #5bcefa, #f5a9b8, #fff,  #f5a9b8, #5bcefa);
}

pride-gradient[data-flag="transfem"] {
	background: linear-gradient(90deg in oklch, #5bcefa, #f7dae6, #f7afcf, #f688b9, #f7afcf, #f7dae6, #5bcefa);
}

pride-gradient[data-flag="enby"] {
	background: linear-gradient(90deg in oklch, #FFF433, #FFF8E7, #9B59D0,  #7f7f7f);
}

pride-gradient[data-flag="robotkin"] {
	background: linear-gradient(90deg in oklch, #fff, #f21c00, #53ee00,  #3b8aff, #7f7f7f);
}

pride-gradient[data-flag="aroace"] {
	background: linear-gradient(90deg in oklch, #da8b00, #e8cc00, #ffffff,  #6fafdf, #5482ca);
}

pride-gradient[data-flag], .trans {
	background-clip: text;
	color: transparent;
}


.buttons img, .buttons {
	image-rendering: pixelated;
}

.comment {
	opacity: 0.5;
}

.home {
	padding: 0.5em 1em;
	margin: 1em;
	display: inline-block;
	border: 2px solid;
	
}